name: Build ZMK firmware

on:
  push:
    paths-ignore:
      - 'keymap-drawer*'
      - '.github/workflows/draw-keymaps.yml'
      - '.github/workflows/svg_to_png.yml'
  pull_request:
    paths-ignore:
      - 'keymap-drawer*'
      - '.github/workflows/draw-keymaps.yml'
      - '.github/workflows/svg_to_png.yml'
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
